/* -------------------------
Anything to do with fonts
------------------------- */

html, body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
    color: $colour-text;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
