<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>{{title}}</title>
</head>
<body>
<div id="react">{{{markup}}}</div>


{{#if isDev}}
    <!--This is inserted by webpack in production-->
    <script src="/build/main.js"></script>
{{/if}}
</body>